# Ignore Gradle project-specific cache directory
.gradle
.idea
local.properties
jvm.arguments=
# Ignore Gradle build output directory
build/*
!build/jacocoHTML
!build/reports
!build/docs
# Ignore IDE settings
.settings
.vscode
